<a href="https://colab.research.google.com/github/taniagoa/Segundo-challenge-CD-Telecom/blob/main/segundo_challenge_Telecom.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
import pandas as pd
import requests
import json
url='https://raw.githubusercontent.com/ingridcristh/challenge2-data-science-LATAM/refs/heads/main/TelecomX_Data.json'
datos_json=requests.get(url)
resultado_json=json.loads(datos_json.text)
datos_telecom=pd.DataFrame(resultado_json)

In [32]:
datos_telecom.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

#normalizando la tabla datos_telecom

In [33]:
datos_customer=pd.json_normalize(datos_telecom['customer'])
datos_phone=pd.json_normalize(datos_telecom['phone'])
datos_internet=pd.json_normalize(datos_telecom['internet'])
datos_account=pd.json_normalize(datos_telecom['account'])
datos_telecom2=datos_telecom.drop(columns=['customer','phone','internet','account']).join([datos_customer,datos_phone,datos_internet,datos_account])

In [34]:
datos_telecom2.head()

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

#Exploramos la nueva tabla datos_telecom2

In [35]:
datos_telecom2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

Encontramos que la columna Charges.Total deberia ser Float en lugar de object

#Buscamos valores nulos

In [36]:
datos_telecom2.isnull().sum()

customerID          0
Churn               0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
Charges.Monthly     0
Charges.Total       0
dtype: int64

No hay valores nulos

#Buscamos valores duplicados

In [37]:
datos_telecom2.duplicated().sum()

np.int64(0)

No encontramos valores duplicados

#Buscamos celdas vacias

In [38]:
datos_vacios=datos_telecom2.apply(lambda x:x.astype(str).str.strip()=='').sum()
datos_vacios

customerID            0
Churn               224
gender                0
SeniorCitizen         0
Partner               0
Dependents            0
tenure                0
PhoneService          0
MultipleLines         0
InternetService       0
OnlineSecurity        0
OnlineBackup          0
DeviceProtection      0
TechSupport           0
StreamingTV           0
StreamingMovies       0
Contract              0
PaperlessBilling      0
PaymentMethod         0
Charges.Monthly       0
Charges.Total        11
dtype: int64

Encontramos celdas vacias en dos columnas Churn y Charges.Total

#Modificamos el tipo de dato de la columna Charges.Total

In [39]:
import numpy as np

datos_telecom2['Charges.Total']=pd.to_numeric(datos_telecom2['Charges.Total'],errors='coerce')
datos_telecom2['Charges.Total']=datos_telecom2['Charges.Total'].astype(np.float64)
datos_telecom2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7256 non-null   float64
dtypes: float64(2), int64(2), object(17)
memory usage: 1.2+ MB

#Eliminamos las filas con valores nulos para que no afecten el analisis final

In [40]:
datos_telecom2=datos_telecom2[datos_telecom2['Churn'].str.strip()!='']
datos_telecom2=datos_telecom2.dropna()
datos_telecom2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7032 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7032 non-null   object
 1   Churn             7032 non-null   object
 2   gender            7032 non-null   object
 3   SeniorCitizen     7032 non-null   int64
 4   Partner           7032 non-null   object
 5   Dependents        7032 non-null   object
 6   tenure            7032 non-null   int64
 7   PhoneService      7032 non-null   object
 8   MultipleLines     7032 non-null   object
 9   InternetService   7032 non-null   object
 10  OnlineSecurity    7032 non-null   object
 11  OnlineBackup      7032 non-null   object
 12  DeviceProtection  7032 non-null   object
 13  TechSupport       7032 non-null   object
 14  StreamingTV       7032 non-null   object
 15  StreamingMovies   7032 non-null   object
 16  Contract          7032 non-null   object
 17  PaperlessBilling  7032 non-null   object
 18  PaymentMethod     7032 non-null   object
 19  Charges.Monthly   7032 non-null   float64
 20  Charges.Total     7032 non-null   float64
dtypes: float64(2), int64(2), object(17)
memory usage: 1.2+ MB

#Modificamos los nombres de algunas columnas para mejorar la visualización

In [41]:
datos_telecom2=datos_telecom2.rename(columns={'customerID':'IDcliente','Churn':'evasion','gender':'genero','SeniorCitizen':'adultoMayor','Partner':'pareja','Dependents':'dependientes','tenure':'permanencia','PhoneService':'telefonoFijo','InternetService':'internet','TechSupport':'servicioTecnico','Contract':'contrato','PaperlessBilling':'reciboElectronico','PaymentMethod':'metodoDePago','Charges.Monthly':'cargoMensual','Charges.Total':'cargoTotal'})
datos_telecom2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7032 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   IDcliente          7032 non-null   object
 1   evasion            7032 non-null   object
 2   genero             7032 non-null   object
 3   adultoMayor        7032 non-null   int64
 4   pareja             7032 non-null   object
 5   dependientes       7032 non-null   object
 6   permanencia        7032 non-null   int64
 7   telefonoFijo       7032 non-null   object
 8   MultipleLines      7032 non-null   object
 9   internet           7032 non-null   object
 10  OnlineSecurity     7032 non-null   object
 11  OnlineBackup       7032 non-null   object
 12  DeviceProtection   7032 non-null   object
 13  servicioTecnico    7032 non-null   object
 14  StreamingTV        7032 non-null   object
 15  StreamingMovies    7032 non-null   object
 16  contrato           7032 non-null   object
 17  reciboElectronico  7032 non-null   object
 18  metodoDePago       7032 non-null   object
 19  cargoMensual       7032 non-null   float64
 20  cargoTotal         7032 non-null   float64
dtypes: float64(2), int64(2), object(17)
memory usage: 1.2+ MB

#Convertimos la columna evasion de string a binario para facilitar el analisis

In [42]:
datos_telecom2['evasion']=datos_telecom2['evasion'].map({'Yes':1,'No':0})
datos_telecom2['evasion']=datos_telecom2['evasion'].astype(np.int64)
datos_telecom2['evasion'].head()

0    0
1    0
2    1
3    1
4    1
Name: evasion, dtype: int64

#Creamos la columna Cuentas diarias

In [43]:
datos_telecom2['cuentasDiarias']=datos_telecom2['cargoMensual']/12
datos_telecom2.head()

,IDcliente,evasion,genero,adultoMayor,pareja,dependientes,permanencia,telefonoFijo,MultipleLines,internet,...,DeviceProtection,servicioTecnico,StreamingTV,StreamingMovies,contrato,reciboElectronico,metodoDePago,cargoMensual,cargoTotal,cuentasDiarias
0,0002-ORFBO,0,Female,0,Yes,Yes,9,Yes,No,DSL,...,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.30,5.466667
1,0003-MKNFE,0,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.40,4.991667
2,0004-TLHLJ,1,Male,0,No,No,4,Yes,No,Fiber optic,...,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85,6.158333
3,0011-IGKFF,1,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85,8.166667
4,0013-EXCHZ,1,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.40,6.991667

##Carga y analisis

In [44]:
datos_telecom2.describe()

,evasion,adultoMayor,permanencia,cargoMensual,cargoTotal,cuentasDiarias
count,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000
mean,0.265785,0.162400,32.421786,64.798208,2283.300441,5.399851
std,0.441782,0.368844,24.545260,30.085974,2266.771362,2.507164
min,0.000000,0.000000,1.000000,18.250000,18.800000,1.520833
25%,0.000000,0.000000,9.000000,35.587500,401.450000,2.965625
50%,0.000000,0.000000,29.000000,70.350000,1397.475000,5.862500
75%,1.000000,0.000000,55.000000,89.862500,3794.737500,7.488542
max,1.000000,1.000000,72.000000,118.750000,8684.800000,9.895833

In [45]:
datos_telecom2.groupby('evasion')['permanencia'].describe()

          count       mean        std  min   25%   50%   75%   max
evasion
0        5163.0  37.650010  24.076940  1.0  15.0  38.0  61.0  72.0
1        1869.0  17.979133  19.531123  1.0   2.0  10.0  29.0  72.0

Relacionando evasion con permanencia, podemos encontrar que los clientes que evaden se van en promedio en los 10 primeros meses, hay una desviacion estandar alta lo que indica que los datos estan muy dispersos